<!DOCTYPE HTML>

<html>
	<head>
		<title>Cubox</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=1040" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]><script src="/js/html5shiv.js"></script><![endif]-->
        <script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/config.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-panels.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel-noscript.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-desktop.css" />
		</noscript>


	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
						
				<!-- Header -->
					<div id="header" class="container">
						
						<!-- Logo -->
                            <div class="animatedlog"></div>
                            <h1 class="lead">CUB<span>O</span>X</h1>
							<p>Store, share & manage your files everytime & everywhere</p>
						
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="fa fa-home" href="i/"><span>Home</span></a></li>
                                    <% if (!user) {%><li><a class="fa fa-tasks" href="#features"><span>Find the right offer</span></a></li><% }%>
                                    <% if (!user) {%><li><a class="fa fa-unlock" href="#banner-wrapper"><span>Login/Subscribe</span></a></li><% }%>
                                    <% if (user) {%><li><a class="fa fa-user" href="#banner-wrapper"><span>Profile</span></a></li><% }%>
                                    <% if (user) {%><li><a class="fa fa-cloud" href="#main-wrapper"><span>My cloud</span></a></li><% }%>
                                    <li><a class="fa fa-pencil" href="#footer-wrapper"><span>Contact</span></a></li>

								</ul>
							</nav>

					</div>

			</div>
			
		<!-- Features Wrapper -->
        <% if (!user) {%>
			<div id="features-wrapper">

				<!-- Features -->
					<section id="features" class="container">
						<header>
							<h2><strong>Choose</strong> your pricing plan and <strong>Create</strong> your account !</h2>
						</header>
						<div class="row">
							<div class="4u">

								<!-- Feature -->
									<section>
										<div class="animatedentity basicoffer"></div>
										<header>
											<h3>FREE	</h3>
										</header>
										<p>For Students or educational purposes, our free offer would let you enjoy our services during 50 days !</br></br>
										<strong>FREE</strong> account</br>
										<strong>50 days</strong> of Cubox</br>
										<strong>5 Go</strong> disk space</br>
										But a <strong>500 kbps</strong> limited bandwitch !</p>
									</section>
							</div>
							<div class="4u">

								<!-- Feature -->
									<section>
                                        <div class="animatedentity  preniumoffer"></div>
										<header>
											<h3>Membox</h3>
										</header>
										<p>For freelancers or personal usage, become a member of the Cubox Community !</br></br>
										<strong>5 $</strong> / month</br>
										<strong>Unlimited</strong> number of days</br>
										<strong>25 Go</strong> disk space</br>
										<strong>Unlimited</strong> bandwitch !</p>
									</section>
									
							</div>
							<div class="4u">

								<!-- Feature -->
									<section>
										<div class="animatedentity prooffer"></div>
										<header>
											<h3>Enterprise</h3>
										</header>
										<p>For small, medium and large company, Cubox have the right offer for your needs</br></br>
										Start to <strong>15 $</strong> / month</br>
										<strong>Your choose</strong> your number of account</br>
										<strong>You choose</strong> your disk space</br>
										<strong>Unlimited</strong> bandwitch !</p>
									</section>

							</div>
						</div>
						<ul class="actions">
							<li><a href="#banner-wrapper" class="button button-icon fa fa-users">Create my account</a></li>
						</ul>
					</section>
			
			</div>
		<% }%>
		<!-- Banner Wrapper -->
			<div id="banner-wrapper">
				<div class="inner">
					
					<section id="banner" class="container">
                 <% if (!user) {%>
					<div class="row">
						<div class="6u">
								<form id="banner-connex" name="banner-connect" method="POST" action="/signin">
									<input type="text" name="email" placeholder="Your email..." required/>
									<input type="password" name="password" placeholder="password" required/>
									<input type="submit" name="submit" value="Connexion" class="button button-icon fa fa-users"/>
								</form>

						</div>
						<div class="6u">
                            <form id="banner-subscribe" name="banner-subscribe" action="/signup" method="post" >
                                <div class="first row">
                                    <input type="radio" name="offer-choice-classic" checked="checked">FREE
                                    <input type="radio" name="offer-choice-membox">MEMBOX
                                    <input type="radio" name="offer-choice-enterprise">ENTERPRISE
                                </div>
                                <div class="row">
                                    <input type="text" class="left-align" name="name" placeholder="Your name..." required/>
                                    <input type="text" name="email" placeholder="Your email..." required/>
                                </div>
                                <div class="row">
                                    <input type="password" class="left-align" name="password" placeholder="password" required/>
                                    <input type="password" name="password-check" placeholder="password verification" required/>
                                </div>
                                <input type="submit" name="submit" value="Create account" class="button button-icon fa fa-users"/>
                            </form>
						</div>
						</div>
					</section>
                <% }%>
                <% if (user) {%>
                    <div class="row">
                        <p>Bienvenue <span><%= user.username %></span></p>
                        <p>account: <span>MEMBOX</span></p>
                        <table>
                            <tr>
                                <td>duration: <span>UNLIMITED</span></td><td>storage: <span>[NUM]/[NUM]</span></td><td>bandwitch: <span>500M</span></td><td>shared Links: <span>[NUM]/[NUM]</span></td>
                            </tr>
                        </table>
                    </div>
                <% }%>
			</div>
		</div>

		<!-- Main Wrapper -->
			<div id="main-wrapper">

				<!-- Main -->
					<div id="main" class="container">
						<div class="row">
								
							<!-- Sidebar -->
								<div id="sidebar" class="4u">

									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>

													<!-- Excerpt -->
														<article class="is-excerpt" id="filechedli">
															<header>
																<span id="normalUploadTrigger" class="button">ADD A FILE</span>
																<h3><a href="#">Navigate through your folders</a></h3>
															</header>

														</article>

												</li>
											</ul>
										</section>
								
								</div>
								
								<div id="content" class="8u">
                                    <div class="explorer">
                                        <%- files%>
                                    </div>
                                </div>
                                        <div id="nomalUpBox"class="UploadBox hide">
                                            <h3>File Uploader</h3>
                                            <span class="closePop">X</span>
                                                <div class='UploadArea'>
                                                    <label for="FileBox">Choose A File: </label><input type="file" class="FileBox"><br>
                                                    <label for="NameBox">Name: </label><input type="text" class="NameBox"><br>
                                                    <button type='button' class='UploadButton button'>Upload</button>
                                                </div>
                                        </div>

                                        <div id="specificUpBox" class="UploadBox hide">
                                            <h3>File Uploader</h3>
                                            <span class="closePop">X</span>
                                            <div class='UploadArea'>
                                                <input type="checkbox" name=""/>Add a folder
                                                <input type="checkbox"/>Add a file
                                                <label for="FileBox">Choose A File: </label><input type="file" class="FileBox"><br>
                                                <label for="NameBox">Name: </label><input type="text" class="NameBox"><br>
                                                <button type='button' class='UploadButton button'>Upload</button>
                                            </div>
                                        </div>

				<!---->
								<!--</div>-->

						</div>
					</div>

			</div>

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">

				<!-- Footer -->
					<div id="footer" class="container">
						<header>
							<h2>Questions or comments? <strong>Get in touch:</strong></h2>
						</header>
						<div class="row">
							<div class="6u">
								<section>
									<form method="post" action="#">
										<div class="row half">
											<div class="6u">
												<input name="name" placeholder="Name" type="text" class="text" />
											</div>
											<div class="6u">
												<input name="email" placeholder="Email" type="text" class="text" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<textarea name="message" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<a href="#" class="button button-icon fa fa-envelope">Send Message</a>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="6u">
								<section>
									<p>Something to tell us ? We will answer any of your questions!</p>
									<div class="row">
										<ul class="icons 6u">
											<li class="fa fa-home">
                                                Tour Maine Montparnasse
                                                40ème étage
                                                33 avenue du Maine
                                                75015 Paris
											</li>
											<li class="fa fa-phone">
												0124561252
											</li>
											<li class="fa fa-envelope">
												<a href="#">contact@cubox.fr</a>
											</li>
										</ul>
										<ul class="icons 6u">
											<li class="fa fa-twitter">
												<a href="#">@cubox</a>
											</li>
											<li class="fa fa-dribbble">
												<a href="#">dribbble.com/Cubox</a>
											</li>
											<li class="fa fa-facebook">
												<a href="#">facebook.com/cubox</a>
											</li>
											<li class="fa fa-google-plus">
												<a href="#">google.com/+cubox</a>
											</li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>

				<!-- Copyright -->
					<div id="copyright" class="container">
						<ul class="links">
							<li>Cubox</li>
							<li>Supinfo year project B3</li>
						</ul>
					</div>

			</div>
<script>







//    $('.filedownload').click(function () {
//
//
//        var val = $(this).data('path');
//       // $.get();
//
//
//         $.get( '/download/'+val, function() {
//
//         });
//
//
//
//
//    });

</script>

	</body>
</html>